.navbar {
    background-color: orange;
    height: 50px;
    display: -ms-flexbox;
    text-align: right;

}

#settings {
    margin-top: 15px;
    margin-right: 20px;
}
.logout {
    margin-right: 5px;
}