.navbar {
    background-color: orange;
    height: 50px;
    display: -ms-flexbox;
    text-align: right;

}

#settings {
    
    
}
.logout {
    text-align: center;
    
}

.openModalBtn {
    background-color: orange;
    border: none;
    color: white;
    margin-top: 8px;
    margin-right: 8px;
}