.signin-ctn-light {
  display: flexbox;
  text-align: center;
  background-color: white;
  margin: 20%;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  border: 3px;
  -webkit-box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.024), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.044), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.064), 0 33px 53.5px -1px rgba(0, 0, 0, 0.084), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.107), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.024), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.044), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.064), 0 33px 53.5px -1px rgba(0, 0, 0, 0.084), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.107), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
}

.signin-ctn-dark {
  display: flexbox;
  text-align: center;
  background-color: #ab03ff;
  margin: 20%;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: 3px;
  -webkit-box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.024), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.044), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.064), 0 33px 53.5px -1px rgba(0, 0, 0, 0.084), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.107), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.024), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.044), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.064), 0 33px 53.5px -1px rgba(0, 0, 0, 0.084), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.107), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
}

#slogan-light {
  text-align: center;
  font-family: sans-serif;
  color: #868686;
}

#slogan-dark {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
}

#Useverb {
  font-family: sans-serif;
  font-size: 2em;
  color: orange;
  font-style: italic;
}

.form-inner {
  width: 70%;
  height: 30px;
  border-color: none;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  font-family: sans-serif;
  margin-top: 30px;
  border-bottom: 1px solid grey;
}

.form-inner:focus {
  outline: none;
}

#logoin-btn-light {
  font-family: sans-serif;
  margin-top: 20px;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-weight: 600;
  background-color: grey;
  -webkit-box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.002), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.008), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.017), 0 33px 53.5px -1px rgba(0, 0, 0, 0.035), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.073), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.002), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.008), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.017), 0 33px 53.5px -1px rgba(0, 0, 0, 0.035), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.073), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
}

#logoin-btn-dark {
  font-family: sans-serif;
  margin-top: 20px;
  color: purple;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-weight: 600;
  background-color: white;
  -webkit-box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.002), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.008), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.017), 0 33px 53.5px -1px rgba(0, 0, 0, 0.035), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.073), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8.2px 15.1px -1px rgba(0, 0, 0, 0.002), 0 15.9px 28.4px -1px rgba(0, 0, 0, 0.008), 0 23.7px 40.5px -1px rgba(0, 0, 0, 0.017), 0 33px 53.5px -1px rgba(0, 0, 0, 0.035), 0 48.4px 73.7px -1px rgba(0, 0, 0, 0.073), 0 100px 160px -1px rgba(0, 0, 0, 0.14);
}

#logoin-btn-dark:hover {
  background-color: orange;
  color: white;
  font-weight: 550;
}

#logoin-btn-dark:hover {
  background-color: #ab03ff;
  color: white;
  font-weight: 550;
  border: 2px solid white;
}
/*# sourceMappingURL=signin.css.map */